<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>Treinos - React CDN + MUI3</title>

    <!-- Roboto font -->
    https://fonts.googleapis.com/css?family=Roboto:300,400,500

    <!-- MUI 3 CDN -->
    https://unpkg.com/@material-ui/core@3.9.4/umd/material-ui.development.css
    https://unpkg.com/@material-ui/core@3.9.4/umd/material-ui.development.js

    <!-- React CDN -->
    https://unpkg.com/react@17/umd/react.development.js</script>
    https://unpkg.com/react-dom@17/umd/react-dom.development.js</script>

    <!-- Babel (para usar JSX no navegador) -->
    https://unpkg.com/babel-standalone@6/babel.min.js

    <style>
        body {
            font-family: Roboto, sans-serif;
            margin: 0;
            padding: 20px;
            background: #fafafa;
        }
    </style>
</head>

<body>
    <!-- 5) Estrutura de divs para receber páginas -->
    <div id="root"></div>

    <!-- Aqui entram os componentes -->
    <!-- app.js</script> -->
</body>

</html>